<a href="https://colab.research.google.com/github/ashokreddy606/python-data-types/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
name = 'ASHOK REDDY'

age = 20

height = 5.7

trainer=False

institution = 'Malla reddy university'

print(type(name))
print(type(age))
print(type(height))
print(type(trainer))
print(type(institution))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [3]:
x = 34.56
y = 3.5

# Arithmetic operations
print(x + y)
print(x - y)
print(x * y)
print(x / y)
print(x // y)
print(x % y)
print(x ** y)

# Comparison operations
print(x == y)
print(x != y)
print(x > y)
print(x < y)
print(x >= y)
print(x <= y)

# Logical operations
print((x > y) and (x != y))
print((x < y) or (x == y))
print(not (x == y))

38.06
31.060000000000002
120.96000000000001
9.874285714285715
9.0
3.0600000000000023
242665.51770697304
False
True
True
False
True
False
True
False
True